<div class="main-container">
<div class="wrapper">
  
  <div class="flexthis code">
    <h1 class="banner code unselectable">codesh</h1>
    <a href="/" class="pushleft changepage"><</a>

  </div>
    
    <div class="innercontainer" id="code">
        <!-- Code Block -->
        
    </div>
    <div class="footer code"><p class="unselectable">&copy; IMGSH 2024</p><a href="https://github.com/teeque87/imgsh">Github</a></div>
</div>

</div>

<!-- The Modal -->
<div id="successModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content center" id="modal-content">
    <div id="modal-container">
      <span class="closeSpan">&times;</span>
      <div class="copy-link">
        <input type="text" class="copy-link-input" id="urlInput" placeholder="URL to Image" readonly>
        <button type="button" class="copy-link-button">copy</button>
      </div>
      <div class="copy-link">
        <input type="text" class="copy-link-input" id="deleteurlInput" placeholder="Delete URL" readonly>
        <button type="button" class="copy-link-button">copy</button>
      </div>
    </div>
  </div>
</div>
