<div class="main-container">
<!-- Left Area -->
<div class="wrapper">
  
  <div class="flexthis">
    <h1 class="banner unselectable">codesh</h1>
    <a href="/" class="pushleft changepage"><</a>

  </div>
    
    <div class="innercontainer" id="code">
        <!-- Dropbox -->
        
    </div>
</div>

</div>

<!-- The Modal -->
<div id="successModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content center" id="modal-content">
    <div id="modal-container">
      <span class="closeSpan">&times;</span>
      <div class="copy-link">
        <input type="text" class="copy-link-input" id="urlInput" placeholder="URL to Image" readonly>
        <button type="button" class="copy-link-button">copy</button>
      </div>
      <div class="copy-link">
        <input type="text" class="copy-link-input" id="deleteurlInput" placeholder="Delete URL" readonly>
        <button type="button" class="copy-link-button">copy</button>
      </div>
    </div>
  </div>
</div>
