<div class="main-container">
  <div class="wrapper">
    <div class="flexthis code">
      <h1 class="banner code unselectable">codesh</h1>
      <a href="/" class="pushleft changepage">&lt;</a>
      <a href="/delete/code/{{shorturl}}" class="pushright">DELETE</a>
    </div>

    <div
      class="innercontainer"
      id="code"
      style="background-color: #282c34 !important"
    >
      <!-- Code Block -->
      <pre><code>{{code}}</code></pre>
    </div>
    <div class="footer code">
      <p class="unselectable">&copy; IMGSH 2024</p>
      <a href="https://github.com/teeque87/imgsh">Github</a>
    </div>
  </div>
</div>
<script>
  hljs.highlightAll()
</script>
