<div class="main-container">
<!-- Left Area -->
<div class="wrapper">
    <h1 class="banner unselectable">imgsh</h1>
    <div class="innercontainer" id="imgsh">
        <!-- Dropbox -->
        <div class="drop-zone" id="drop-zone">
            <form action="/upload" method="post" enctype="multipart/form-data"></form>
            <input type="file" name="myFile" class="drop-zone__input" id="fileA" onchange="fileChange();">
            <div class="drop-zone-info">
                <span class="drop-zone__prompt">Drop file here or click to upload</span><br>
                <div id="fileName"></div>
                <div id="fileSize"></div>
                <progress id="progress" style=""></progress> <span id="prozent"></span>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Right Area -->
<div class="wrapper" id="code">
    <h1 class="banner unselectable" style="color: white">codeshr</h1>
    <div class="innercontainer" id="codeM">
        <form id="codeForm">
            <div class="header">
                <h3 class="unselectable">Insert your code / text you want to share</h3>
            </div>
            <textarea name="codeInput" id="codeInput"></textarea>
            <div class="code-control-wrapper">
                <div class="radiocontainer">
                    <input type="radio" name="days" id="1d" checked="true"><label for="1d">1day</label>
                    <input type="radio" name="days" id="3d"><label for="3d">3days</label>
                    <input type="radio" name="days" id="7d"><label for="7d">7days</label>
                    <input type="password" name="password" id="pwd" placeholder="Password (optional)" autocomplete="off">
                </div>
                <div class="submit-btn">
                    <button type="submit">Submit</button>
                </div>   
            </div>
        </form>                  
    </div>
</div>
</div>
