<form id="passwordForm">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Submit</button>
</form>

<script>
    document.getElementById('passwordForm').addEventListener('submit', async
    function(event) { event.preventDefault() const password =
    document.getElementById('password').value const shorturl = "{{shorturl}}"
    window.redirect = async function() { window.location.href =
    shorturl+'?password='+password } window.redirect(); });
</script>