<div class="passcontainer">
  <div class="passwordForm">
    <form id="passwordForm">
      <label for="password" style="color: white">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit" class="btn-passwd">Submit</button>
    </form>
  </div>
</div>

<script>
  document
    .getElementById("passwordForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault()
      const password = document.getElementById("password").value
      const shorturl = "{{shorturl}}" // Ensure this is correctly replaced by your template engine
      window.redirect = async function () {
        window.location.href = shorturl + "?password=" + password
      }
      window.redirect()
    })
</script>
